/*No tocar este codigo*/ 
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}
/*--------------------------------------------*/
body{
	background-color: #ECECEC;
}
/*-------------header--------------------*/
.sidebar-toggle-box {
	z-index: 1;
	margin-left: 0px;
	float: left;
	padding: 10px;
	border:2px solid green;
	color: white;
}
#container{
	width: 100%;
}
.black-bg {
	background-color: #495171;
	width: 100%;
}

.top-menu nav{
	list-style: none;
}
.nav-collapse img{
	margin-top: 100px;
}
.nav-collapse ul{
	margin-left: 0px;

}
.header{
	/*position: fixed;*/
	width: 100%;
}
.logout{
	background-color:#57105D;
	border-radius: 100px;
}
.sidebar-menu{
	list-style-type: none;
	width: 210px;
	background-color: #495171;
	display: inline-block;
	margin-left: 0px;
	position: fixed;
}
.sub-menu{
	margin-left: 0px;
	padding-bottom: 20px;
	padding-left: 0px;

}

/*Escribe aqui tu codigo */

